

/* general styles for html elements */

body {
    background-color: whitesmoke;
    color: black;
    font-family: Bahnschrift, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 3em;
}
h2 {
    margin: 30px 0;
    font-size: 2em;
    text-align: center;
}


                    /*---------------------------- Home page _____________________________*/

.h1-home {
    font-size: 2.1rem;
    line-height: 1.4;
    text-align: center;
    margin-top: 100px;
}
.maindiv {
    width: 70%;
    height: 350px;
    margin-top: 40px;
    margin-bottom: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://image.coolblue.be/2496x1070/content/847211406a439b09d30da541cb5b1aa8');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px rgba(82, 48, 19, 0.7);
    animation: slider 9s infinite linear;
}

@keyframes slider{
    0%{background-image: url('https://image.coolblue.be/2496x1070/content/847211406a439b09d30da541cb5b1aa8');}
    25%{background-image: url('https://image.coolblue.be/2496x1070/content/8ff7dda0270f00cab2ce307943374639');}
    50%{background-image: url('https://image.coolblue.be/840x473/content/10ffb40bc58d7dd674806e426767a2ea');}
    75%{background-image: url('https://image.coolblue.be/840x473/content/5941920bca96805ad791bbe65a52a369');}
}

.home-content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 400px 100px 90px 100px;
}

.home-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.home-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.btn-3d {
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px 500px ;
}
.btn-3d:hover {
    background-color: #333333;
    color: #fff;
}



                     /*-------------------------[no Accessorie was found]---------------------*/
.containercontent {
    flex-grow: 4;
    margin: 0 50px;
}
.containercontent p {
    padding: 100px 50px;
}


                      /* general layout shared by all pages nav + buttons */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #CF7C34;
    color: #523013;
    height: 70px;
}
.nav-link {
    color: #523013;
    font-size: 1em;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
}
.navbar-nav a:hover {
    font-weight: 900;
    color: #523013;
}
.navbar-nav a:active {
     font-weight: 900;
     color: #523013;
     text-decoration: none;
     padding: 10px 20px;
 }
.navbar-collapse {
    display: flex;
    margin-left: 50px;
}


                     /*------------------error pagina--------------------------------*/

.container-error {
    display: flex;
    position: relative;
    margin: 150px 100px;
}
.containercontent-error {
    flex-grow: 4;
    margin: 50px 100px;
}
.p-error{
    text-align: center;
    padding: 30px 50px;
}


                      /* ----------------------details page only----------------------- */
.container-prev-next{
    padding-top: 60px;
    position: relative;
}

.prevButtonDiv,
.nextButtonDiv {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.prevButtonDiv {
     left: 10px;
 }
.nextButtonDiv {
    right: 10px;
}
.smallButton {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #333333;
    text-decoration: none;
}
.smallButton:hover {
    background-color: #555555;
    color: white;
}
.prevButton,
.nextButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card {
    width: 80%;
}
.card-body-details {
    padding-left: 100px;
}
.infoLine {
    margin: 15px 0;
    font-size: 1em;
    display: flex;
}
.infoLineName {
    width: 13em;
    font-weight: bold;
}
.infoLineValue {
    font-size: 1em;
    text-align: left;
    padding-left: 40px;
    width: 25em;
}
.infoLineNameDescription{
    width: 33em;
}


/*-----------------------------order details----------------------*/

.h2-order{
    margin-top: 130px;
    margin-left: 0;
}


/* -------------laptop and accessorie pagina [ card]-------------------------*/
.container-laptop {
    padding-top: 20px;
}
.container-laptop h2 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}
.row{
    display: flex;
    position: relative;
    margin: 40px 60px;
}
.card-laptop {
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(82, 48, 19, 0.7);
}
.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    padding: 15px;
}
.card-body {
    padding: 20px;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #523013;
}
.card-text {
    font-size: 1rem;
    color: #523013;
}
a {
    text-decoration: none;
}

.filter-section {
    text-align: center;
    margin-bottom: 30px;
}
.filter-section .btn {
    margin-top: 120px;
}

#filterForm {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    width: 100%;
}


/*------------------------laptopedit----------------------*/

.container-details-edit{
    margin-top: 150px;
    margin-bottom: 110px;
}
.form-group{
    padding: 10px;
}

.buttonlink-edit{
    margin-top: 80px;
    margin-left: 50px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border:1px solid #523013 ;
    border-radius: 5px;
    color: #523013;
}
.buttonlink-edit:hover {
    font-weight: 900;
    color: #523013;
}

.buttonlink-edit:active {
    font-weight: 900;
    color: #523013;
}

.error {
    color: #760202;
    font-size: larger;
}
.fieldError, input.fieldError {
    background-color: #760202;
}


/*--------------- general styles for footer elements----------- */
.bottom {
    position: fixed;
    background-color: #CF7C34;
    color: #523013;
    height: 40px;
    font-size: 1em;
    bottom: 0;
    width: 100%;
}
.bottom p {
    text-align: center;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}


/*--------------------login--------------------*/
.container-login{
    margin-top: 150px;
}







