<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>

    <title>error</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <div class="containercontent-error">
        <h1>Sorry, this page isn't available.</h1>
        <p class="p-error">The link you followed may be broken, or the page may have been removed. Go back to Home page.</p>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>